body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    color: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-bottom: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #2272FF;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li button {
    background-color: rgba(50, 50, 50);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li button:hover {
    background-color: #1482c8;
}

.pagina {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagina.active {
    display: block;
}

input, button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #21a1f1;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.pagina {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.6s ease-in-out forwards; 
}

.pagina.active {
    display: block;
    opacity: 1;
}

.navegacion {
    text-align: center;
    margin-top: 20px;
}

.navegacion button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.navegacion button:hover {
    background-color: #21a1f1;
}

/* Transiciones de las páginas */
.pagina {
    transition: all 0.5s ease;
    transform: translateY(20px);
    opacity: 0;
    position: relative;
}

.pagina.active {
    transform: translateY(0);
    opacity: 1;
}
